.list-group-item .level2Li {
    padding: 2.5px;
    padding-left: 18%;
}

.mainTitles h4 {
    color: #525151;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
}

#innerContentBox {
    overflow-x: hidden;
    padding-left: 4%;
}

.menuContentBox {
    font-family: 'Ubuntu', sans-serif;
}

.menuContentBox a {
    color: #5a5a5a;
}

.menuContentBox a:hover {
    text-decoration: none;
    color: #0f78b1;
}

.active {
    background-color: yellow;
}

#searchResults li {
    outline: none;
    cursor: default;
}

#show2 {
    color: #323232;
}

a#show2:hover {
    text-decoration: none;
}

.mainTitleCss {
    padding-top: 2.5px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.level1 {
    color: #747272;
}

.SubTitles {
    margin-bottom: 0px;
}

.mickyMouseUl {
    width: 88%;
    border-radius: 5px;
}

.mickyMouseUl a {
    font-size: 15.5px;
    color: black;
    text-decoration: none;
}

.mickyMouseResultLi {
    padding: 15px 15px;
    padding-bottom: 1px;
}

.mickyMouseResultLi p {
    height: 45px;
}

.mickyMouseResultLi:hover {
    background-color: #dbdbdb;
}

.mickyMouseResultLi:focus {
    background-color: red !important;
}

li#selected {
    background: #dbdbdb;
}

@media (min-width: 1000px) {
    .col-sm-2-5 {
        width: 20%;
    }
    .badBoy {
        margin-right: 2.6666%;
    }
}

@media (max-width: 770px) {
    .mainTitles {
        display: none;
    }
    .level1 {
        font-weight: 700;
    }
    .list-group-item .level2Li {
        padding: 2.5px;
        padding-left: 2%;
    }
    #innerContentBox {
        padding-left: 0%;
    }
}