/* Rao's CSS starts here*/

.svg-inline--fa.fa-w-14 {
    width: 32px !important;
}

ul.sf-menu.sf-style-blue li, ul.sf-menu.sf-style-blue.sf-navbar {
    background: #0d77b2 !important;
}
.mickya{
    font-size: 19px !important;
    padding-top: 0px !important;
    padding-right: 36px !important;
    padding-bottom: 0PX !important;
    height: 20px;

}

.mickyMouseResultLi p {
    height: auto;
    margin: 0 !important;
    font-size: 14px;
    line-height: 19px;
}
.gaps {
    line-height: 46px !important;
    margin-right: 7px;
}

/* Rao's CSS ENDS here*/


.list-group-item .level2Li {
    padding: 2.5px;
    padding-left: 18%;
}

.mainTitles h4 {
    color: #525151;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
}

#innerContentBox {
    overflow-x: hidden;
    padding-left: 4%;
}

.menuContentBox {
    font-family: 'Ubuntu', sans-serif;
}

.menuContentBox a {
    color: #5a5a5a;
}

.menuContentBox a:hover {
    text-decoration: none;
    color: #0f78b1;
}


#searchResults{
    background-color: #fff;
}

#searchResults li {
    outline: none;
    cursor: default;
}

ul.searchResultsMobile{
    background-color: #fff !important;
    z-index: 999 !important;

}

#searchResultsMobile li {
    outline: none;
    cursor: default;
}

#show2 {
    color: #323232;
}

div.fatherContainer{
    display: block;
}

div.closeButton{
    display: block;
}

a#show2:hover {
    text-decoration: none;
}

.mainTitleCss {
    padding-top: 2.5px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.level1 {
    color: #747272;
}

.SubTitles {
    margin-bottom: 0px;
}

.mickyMouseUl {
    width: 88%;
    border-radius: 5px;
}

.mickyMouseUl a {
    font-size: 15.5px;
    color: black;
    text-decoration: none;
}

.mickyMouseResultLi {
    padding: 15px 15px;
}


.mickyMouseResultLi:hover {
    background-color: #dbdbdb;
}

.mickyMouseResultLi:focus {
    background-color: red !important;
}

li#selected {
    background: #dbdbdb;
}

li#selectedMobile {
    background: #dbdbdb;
}

p#resultsDescription{
    font-size: 13px;
    margin-top: 3%;
    color: #757373;
}


@media (min-width: 1000px) {
    .col-sm-2-5 {
        width: 20%;
    }
    .badBoy {
        margin-right: 2.6666%;
    }
}

@media (max-width: 770px) {
    .mainTitles {
        display: none;
    }
    .level1 {
        font-weight: 700;
    }
    .list-group-item .level2Li {
        padding: 2.5px;
        padding-left: 2%;
    }
    #innerContentBox {
        padding-left: 0%;
    }
}

@media (min-width: 1098px){

    #MickyMouseMenuSearchBarOnly{
        display: none;
    }




}



